*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}

.container{
    border: 1px solid whitesmoke;
    padding: 20px;
    border-radius: 10%;
    box-shadow: 0 8px 10px 0 rgba(44, 103, 239, 0.611), 0 3px 10px 0 rgba(246, 242, 10, 0.792);
}

.button{
    display: flex;
    justify-content: space-around;
}

button{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 5px;
    background-color: #212121;
    color: whitesmoke;
    font-weight:bolder;
    font-size:xx-large;
    box-shadow: 0 8px 10px 0 rgba(44, 103, 239, 0.611), 0 3px 10px 0 rgba(246, 242, 10, 0.792);
    border: 1px;
    cursor: pointer;
}
button:hover{
    box-shadow: 0 12px 16px 0 rgba(27, 236, 83, 0.768),0 17px 50px 0 rgba(139, 10, 237, 0.604);
}

input{
    margin: 5px;
    height: 80px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid #212121;
    text-align: end;
    background-color: #212121;
    color: whitesmoke;
    font-weight:bolder;
    font-size:xx-large;
}
.orange{
    background-color: orange;
}

.green{
    color: orange;
}